body {
    font-family: Arial, sans-serif;
    margin: 20px;
    font-family: Arial,  sans-serif;
    background: linear-gradient(to left , #ffffff , #fffe7a ); 
}

label {
    display: block;
    margin: 10px 0;
}
.fullName input[type="text"]{
    border: none;
    outline: none;
    
    background: rgb(187, 182, 182);
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
}
.fullName textarea{
    border: none;
    outline: none;
    
    background: rgb(187, 182, 182);
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
}
.fullName input[type="number"]{
    border: none;
    outline: none;
    
    background: rgb(187, 182, 182);
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#preview {
    margin-top: 20px;
}
