body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to left , #ffffff , #fffe7a ); 
}

h1 {
    text-align: center;
}

.resumeOutput {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333;
}

p {
    margin-bottom: 15px;
}

b {
    color: #000000;
}
